
<main class="main">
  <section class="top-baner"><img src="images/header-banner.png" alt="Вентиляция"/>
    <h1>профессиональная очистка<br/>систем вентиляции</h1>
  </section>
  <section class="definition-eliservis">
    <div class="container"> 
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="definition-eliservis__wrapper wrapper-img"><img src="images/img-1-prevu.jpg" alt="Превью" width="536px" height="380px"/></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="definition-eliservis__wrapper wrapper-text">
            <div class="tittle-wrapper wrapper--left">
              <h2 class="underlining--green">ЭлиСервис</h2>
            </div>
            <p class="text--smal">Своевременная очистка систем вентиляции от пыли, жира и мусора просто необходима любому промышленному или бытовому зданию. Скапливающиеся в воздуховодах отложения способствуют распространению множества заболеваний и отравлений, а также могут стать причиной пожара.</p>
            <p class="text--smal">
              Компания ЭЛИСЕРВИС предлагает полный спектр услуг по очистке и дезинфекции систем вентиляции в Москве, Московской области и других регионах России. Использование профессионального оборудования и современных методов очистки позволяет нам выполнять проекты любой сложности быстро и качественно.
              Наша компания успешно прошла сертификацию Системы менеджмента качества ГОСТ ISO 9001:2015 (ISO 9001:2015).
            </p>
            <p class="text-smal">Будем рады сотрудничеству с вашей организацией!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="tittle-wrapper">
        <h2 class="underlining--green">Услуги</h2>
      </div>
      <article class="services-list">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
            <div class="services-list__item">
              <div class="services-list__filter"></div><img src="images/services/1.png" alt="Очистка систем вентиляции от пыли"/>
              <p>Очистка систем<br/>вентиляции от пыли</p><a href="#">Подробно</a>
            </div>
            <div class="services-list__item">
              <div class="services-list__filter"><img src="images/services/3.png" alt="Дезинфекция вентиляции"/></div>
              <p>Дезинфекция<br/>вентиляции</p><a href="#">Подробно</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
            <div class="services-list__item">
              <div class="services-list__filter"><img src="images/services/2.png" alt="Очистка воздуховодов от жировых отложений"/></div>
              <p>Очистка воздуховодов<br/>от жировых отложений</p><a href="#">Подробно</a>
            </div>
            <div class="services-list__item">
              <div class="services-list__filter"><img src="images/services/4.png" alt="Микробиологическое обследование СЭС"/></div>
              <p>Микробиологическое<br/>обследование СЭС</p><a href="#">Подробно</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="cost">
    <div class="container">
      <div class="tittle-wrapper">
        <h2 class="underlining--green">стоимость </h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <article class="cost__items item--1">
            <div class="text-flex-wrapper">
              <h3 class="underlining--white text-center">ОЧИСТКА ОТ ПЫЛИ</h3>
              <ul class="cost__list text-center">
                <li>Очистка воздуховодов от<br/>пылевых отложений от <span>150</span> руб/м</li>
                <li>Дезинфекция<br/>систем вентиляции от <span>50</span> руб/м</li>
                <li>Микробиологическое<br/>исследование от <span>1500</span> руб/смыв</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <article class="cost__items item--2">
            <div class="text-flex-wrapper">
              <h3 class="underlining--white text-center">ОЧИСТКА ОТ ЖИРА</h3>
              <ul class="cost__list text-center">
                <li>Очистка воздуховодов от<br/>жировых отложений от <span>600</span> руб/м</li>
                <li>Очистка вытяжных зонтов от<br/>жировых отложений от <span>2000</span> руб/ед</li>
                <li>Очистка улитки<br/>вентилятора  от <span>2000</span> руб/ед</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <article class="cost__items item--3">
            <div class="text-flex-wrapper">
              <h3 class="underlining--white text-center">ОБСЛУЖИВАНИЕ</h3>
              <ul class="cost__list text-center">
                <li>Определение состояния<br/>вентиляционных систем от <span>50</span> руб/м</li>
                <li>Изготовление и установка<br/>инспекционного лючка от <span>300</span> руб/ед</li>
                <li>Оформление<br/>журнала учета работ -  <span>бесплатно</span>!</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="advantages">
    <div class="container">
      <div class="tittle-wrapper">
        <h2 class="underlining--green">преимущества</h2>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="advantages__item"><img src="images/icons-servis/1.png"/>
            <p class="strong-text">
               СОВРЕМЕННОЕ ОБОРУДОВАНИЕ<br/>И ТЕХНОЛОГИИ</p>
            <p class="text--normal">Мы используем новейшее оборудование и современные методы очистки и дезинфекции</p>
          </div>
          <div class="advantages__item"><img src="images/icons-servis/4.png"/>
            <p class="strong-text">
               Мобильность<br/>и оперативность</p>
            <p class="text--normal">Нас не приходится ждать сутками. После получения заявки мы прибываем в точно оговоренное с заказчиком время</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="advantages__item"><img src="images/icons-servis/2.png"/>
            <p class="strong-text">ОБУЧЕНИЕ И КОНСУЛЬТАЦИИ</p>
            <p class="text--normal mt-3">Мы покажем, как правильно использовать системы вентиляции и дадим бесплатную консультацию по вопросам ее эксплуатации</p>
          </div>
          <div class="advantages__item"><img src="images/icons-servis/5.png"/>
            <p class="strong-text">проекты любой<br/>сложности</p>
            <p class="text--normal">Очистка в самых труднодоступных местах</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="advantages__item"><img src="images/icons-servis/3.png"/>
            <p class="strong-text">
               СВОЕВРЕМЕННОЕ<br/>ТЕХОБСЛУЖИВАНИЕ</p>
            <p class="text--normal">При заключении  с нами договора на постоянной основе мы вовремя производим регламентные работы и предоставляем скидки</p>
          </div>
          <div class="advantages__item"><img src="images/icons-servis/6.png"/>
            <p class="strong-text">высокая квалификация<br/>персонала</p>
            <p class="text--normal">Весь персонал компании проходит обучение и курсы повышения квалификации</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="container">
      <div class="tittle-wrapper">
        <h2 class="underlining--green">галерея</h2>
      </div>
      <div class="row"> 
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="gallery-wrapper"><img src="images/gallery/1.png"/><img src="images/gallery/2.png"/><img src="images/gallery/3.png"/><img src="images/gallery/4.png"/><img src="images/gallery/5.png"/><img src="images/gallery/6.png"/><img src="images/gallery/7.png"/><img src="images/gallery/8.png"/><img src="images/gallery/9.png"/></div>
          <div class="tittle-wrapper all-work">
            <button class="gallery__signature">Все работы</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="review">
    <div class="container">
      <div class="tittle-wrapper">
        <h2 class="underlining--green">Отзывы      </h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="review-wrapper">
            <p class="review__text text--strong">ОДЦ «Гелиос»</p>
            <p class="review__text">Выражаем благодарность ООО «ЭлиСервис» за качественно и в срок выполненную работу по очистке и дезинфекции систем вентиляции нашей школы.  Работы проводились высококвалифицированными сотрудниками, при производстве работ использовалось высокотехнологичное оборудование. Без сомнений воспользуемся услугами этой организации и в следующий раз!</p>
            <p class="review__text text--small">Исп. директор  ОДЦ Гелиос - Николаев В. С</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="review-wrapper wrapper-img"><img class="review-img" src="images/review.png" width="240px" height="318px"/></div>
        </div>
      </div>
    </div>
  </section>
</main>