
<section class="popup">
  <div class="container">
    <div class="popup__preview">
      <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
          <div class="popup__logo-wrapper"><img src="images/popup/popup-baner.jpg" alt="ОЧИСТКА СИСТЕМ ВЕНТИЛЯЦИИ ОТ ПЫЛИ"/></div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
          <div class="popup__text-wrepper">
            <h2 class="popup__title">
               ОЧИСТКА СИСТЕМ<br/>ВЕНТИЛЯЦИИ ОТ ПЫЛИ</h2>
            <p class="popup__text">ЭЛИСЕРВИС выполняет  профессиональную очистку вентиляции производственных предприятий, фабрик, офисов, торговых центров, больниц, учебных заведений и других объектов.</p>
            <p class="popup__text">Очистка от пылевых отложений производится щеточно-вакуумным методом с использованием современного оборудования и технологий. При помощи щёточной машины отделяется пыль с внутренних поверхностей воздуховодов, а специальное фильтрующее устройство собирает любые формы грязи и пыли, не давая им распространиться по помещению.  После очистки, на всех участках вентиляционных каналов проводятся работы по дезинфекции вентиляции.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="popup__application">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="application-wrapper">
            <h2 class="popup__title">отправить заявку</h2>
            <label>Номер телефона</label>
            <input type="text"/>
            <label>Электронная почта</label>
            <input type="text"/><a class="button-green" href="#">отправить                      </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>