/* position footer */
.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}
.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-wrapper label,
.question-wrapper input, {
  margin: 0;
  padding: 8px 0;
}
.contacts {
  margin-top: 60px;
  margin-left: 19%;
}
.question {
  margin-left: 19%;
}
.question-wrapper a {
  margin: 15px;
  color: $light-colot;
  align-self: flex-start;
  width: 200px;
}
.combining-unit {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

/* Def footer */
.footer {
  background: linear-gradient(to right, $green-color 43% , $light-gray-color 43%);
  padding: 40px 0 50px;
}

.footer__title {
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 79.49px;
  text-transform: uppercase;
}
.title--black {
  color: $black-color;
}
.title--white {
  color: $light-colot;
}
.contacts-wrapper > h2,
.contacts-wrapper > p {
  margin: 0;
}
.contacts__text {
  font-size: 20px;
  font-weight: 300;
  color: $light-colot;
}

.text-underline {
  text-decoration: underline;
}
article.question button {
  background: inherit;
  border: none;
  font: inherit;
}
.question label {
  color: #595959;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 17.11px;
}
.question__text {
  color: #0f0f0f;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.button-green {
  padding: 10px 40px;
  font: inherit;
  text-align: center;
  font-family: "Raleway","Encode Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 300;

  border-radius: 24px;
  background-color: $green-color;
}
input {
  background: inherit;
  border: none;
  border-bottom: 1px solid #595959;

}
.contacts__text > i, 
.combining-unit > i {
  opacity: 0.4;
  color: #ffffff;
  margin-right: 10px;
}