footer.footer
  .container 
    .row
      .col-sm-5.col-md-5.col-lg-5
        article.contacts
          .contacts-wrapper
            h2.footer__title.title--white Контакты
            p.contacts__text #[i.fa.fa-map-marker(aria-hidden="true")] г. Королев, ул. Дурылина, д. 39
            .combining-unit
              i.fa.fa-phone.fa-lg(aria-hidden="true") 
              p.contacts__text  
                |Тел: +7(495)796-8770
                br
                |Моб: +7(968)788-9306
            p.contacts__text.text-underline #[i.fa.fa-envelope(aria-hidden="true")] info@eliservice.ru
      .col-sm-7.col-md-7.col-lg-7
        article.question
          .question-wrapper
            h2.footer__title.title--black ответим на любые вопросы
            p.question__text
              |напишите нам, или оставьте номер своего телефона,
              br
              |мы перезвоним, и ответим на любые вопросы 
            label(for="number-phon") Номер телефона
            input(type="tel" name="number-phon")
            label(for="email" ) Электронная почта
            input(type="email" name="email")
            label(for="my-question") Ваш вопрос
            input(type="text" name="my-question")
            a(href="#").button-green отправить 
