/* Def main */
.top-baner {
  position: relative;

}
.top-baner h1 {
  position: absolute;
  left: 20%;
  top: 45%;


  width: 980px;
  color: #231f20;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 61px;
  text-transform: uppercase;

}
.definition-eliservis__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.wrapper-img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-text {
  justify-content: space-between;
  margin-left: 50px;
}


.definition-eliservis {
  background-color: rgba(237, 237, 237, .7);
  padding: 100px 0;
}
.definition-eliservis img {
  margin: 0;
  padding: 0;

}
.underlining--green {
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: $black-color;

  padding: 0;
  margin: 10px 0 45px;
  position: relative;

  text-align: left;
  text-transform: uppercase;

}

.underlining--green::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 110px;
  background-color: $green-color;
  position: absolute;
  left: 0;
  top: 48px;
}

.definition-eliservis__wrapper p {
  margin: 0;
  padding: 0;
}


.services {
  background-color: rgba(237, 237, 237, .6);
  padding: 10px 0 25px;

}

/* .services-list__item > img {
  position: relative;
  margin: 5px;
  padding: 0;
  width: 100%; 
  height: auto;
} */
.services-list__item {
  width: 100%;
  margin: 0;
  padding: 5px;
  position: relative;
}
.services-list__item:hover::before,
.services-list__item:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 24px rgba(10, 10, 10, 0.2);
  background-color: rgba(6, 6, 6, 0.58);
  background-image: linear-gradient(to top, rgba(25, 25, 25, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.services-list__item p {
  position: absolute;
  left: 35px;
  bottom: 30px; 
  margin: 0;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.5);
  color: #ffffff;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  /* line-height: 12px; */
  text-transform: uppercase;
}

.services-list__item a {
  position: absolute;
  right: 60px;
  bottom: 30px;
  margin: 0;
  color: #ffffff;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 12px; */
}
.services-list__item a:hover,
.services-list__item a:focus {
  color: #ffffff;
  text-decoration: underline;
}
.services-list__filter::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 24px rgba(10, 10, 10, 0.2);
  /* background-image: linear-gradient(to top, rgba(25, 25, 25, 0.6) 0%, rgba(0, 0, 0, 0) 100%); */
}

.cost {
  background-color: #ffffff;
  padding: 60px 0 115px;
}
.cost__items {
  position: relative;
  padding: 0 25px;

}
.item--1 {
  background-image: url("/../images/cost/1.jpg");
  background-color: rgba(27, 45, 59, 0.7);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.item--1::before {
  content: "";
  background-color: rgba(27, 45, 59, 0.7);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
}
.item--2 {
  background-image: url("/../images/cost/2.jpg");
  background-color: rgba(41, 135, 85, 0.8);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.item--2::before {
  content: "";
  background-color: rgba(41, 135, 85, 0.8); 
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
}
.item--3 {
  background-image: url("/../images/cost/3.jpg");
  background-color: rgba(40, 83, 74, 0.7);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.item--3::before {
  content: "";
  background-color: rgba(40, 83, 74, 0.7);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
}
.cost__items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.cost__items ul span {
  font-weight: 700;
}
.underlining--white {
  color: #ffffff;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
}

.text-flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
  height: 475px;

}
 ul.cost__list li {
  padding: 20px 0;
  color: #ffffff;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
 }
 .underlining--white {
  padding-bottom:  80px;
 }

 .advantages {
  background-color: rgba(234, 242, 238, .5);
  background-image: url("/../images/fon-advantages.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0 40px;

 }
 .gallery {
   background-color: #ffffff;
   padding: 60px 0 0; 
 }
 .gallery::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background-color: #d9d9d9;
   margin-top: 60px;
 }
 .review {
  background-color: #ffffff; 
  padding: 40px 0 190px;
 }

.strong-text {
  color: #333333;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;

}
.text--normal {
  color: #4f4f4f;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
  margin: 0;
  margin-bottom: auto;

}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin: 20px 0;
  align-items: flex-start;
}
.advantages__item img {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  height: 66px;

}
.gallery-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.gallery-wrapper img {
  margin: 2px;
  width: 32%;
  height: 32%;
}
.gallery__signature {
  display: block;
  padding: 2px;

  background: inherit;
  border: none;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
  color: $black-color;

}
.all-work {
  height: 60px;
  align-items: center;
}
.review__text {
  width: 620px;
  padding: 0;
  margin: 0;

  color: #1a1a1a;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.97px;
}
.text--strong {
  color: #1a1a1a;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 27.97px;
  }
.text--small {
  color: #1a1a1a;
  font-family: "Circe","Encode Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27.97px;
}  

.review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 318px;
  margin-left: 130px;
}
.review-wrapper > img {
  max-width: 240px;
}
