doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Eli-Servis

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- ===== styles =====
    link(rel="stylesheet", href="css/app.css")
  body
    header.header
      .container
        .row
          .col-sm-12.col-md-5.col-lg-5
            a(href="#").logo-link
              img(src="images/eliservis-logo.png" alt="Eli Servis")
            p.header__logo-text 
              |ПРОФЕССИОНАЛЬНАЯ ОЧИСТКА
              <br>
              |СИСТЕМ ВЕНТИЛЯЦИИ
          
          .col-sm-12.col-md-7.col-lg-7
            p.header__phon +7 (495) 796-8770
            p.header__mail info@eliservice.ru
            nav.top-menu 
              ul.top-menu__items
                li.top-menu__item
                  a УСЛУГИ
                li.top-menu__item
                  a СТОИМОСТЬ
                li.top-menu__item
                  a ПРЕИМУЩЕСТВА
                li.top-menu__item
                  a ГАЛЕРЕЯ
                li.top-menu__item
                  a отзывы
                li.top-menu__item
                  a КОНТАКТЫ
			
    
    main.main
      block conten-main
    

    footer.footer
      .container 
        .row
          .col-sm-12.col-md-5.col-lg-5
            article.contacts
              .contacts-wrapper
                h2.footer__title.title--white Контакты
                p.contacts__text г. Королев, ул. Дурылина, д. 39
                p.contacts__text 
                  |Тел: +7(495)796-8770
                  br
                  |Моб: +7(968)788-9306
                p.contacts__text.text-underline info@eliservice.ru
          .col-sm-12.col-md-7.col-lg-7
            article.question
              .question-wrapper
                h2.footer__title.title--black ответим на любые вопросы
                p.question__text
                  |напишите нам, или оставьте номер своего телефона,
                  br
                  |мы перезвоним, и ответим на любые вопросы 
                label(for="number-phon") Номер телефона
                input(type="tel" name="number-phon")
                label(for="email" ) Электронная почта
                input(type="email" name="email")
                label(for="my-question") Ваш вопрос
                input(type="text" name="my-question")
                a(href="#").button-green отправить 

    script(type="text/javascript", src="js/all.js", async="async")