doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Eli-Servis

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- ===== styles =====
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    include ../includes/header

    include ../includes/main

    include ../includes/footer

    include ../includes/popup


    script(type="text/javascript", src="js/all.js", async="async")