section.popup
  .container
    .popup__preview
      .row
        .col-sm-5.col-md-5.col-lg-5
          .popup__logo-wrapper
            img(src="images/popup/popup-baner.jpg", alt="ОЧИСТКА СИСТЕМ ВЕНТИЛЯЦИИ ОТ ПЫЛИ")
        .col-sm-7.col-md-7.col-lg-7
          .popup__text-wrepper
            h2.popup__title 
              |ОЧИСТКА СИСТЕМ
              br
              |ВЕНТИЛЯЦИИ ОТ ПЫЛИ
            p.popup__text ЭЛИСЕРВИС выполняет  профессиональную очистку вентиляции производственных предприятий, фабрик, офисов, торговых центров, больниц, учебных заведений и других объектов.
            p.popup__text Очистка от пылевых отложений производится щеточно-вакуумным методом с использованием современного оборудования и технологий. При помощи щёточной машины отделяется пыль с внутренних поверхностей воздуховодов, а специальное фильтрующее устройство собирает любые формы грязи и пыли, не давая им распространиться по помещению.  После очистки, на всех участках вентиляционных каналов проводятся работы по дезинфекции вентиляции.
    .popup__application
      .row
        .col-sm-12.col-md-12.col-lg-12
          .application-wrapper
            h2.popup__title отправить заявку
            label Номер телефона
            input(type="text")
            label Электронная почта
            input(type="text")
            a(href="#").button-green отправить                      